@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #04030F;
    --secondary-color: #3a7ca5;
    --accent1-color: #d9dcd6;
    --accent2-color: #16425b;

    --heading-font: 'Roboto', sans-serif; 
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #16425b;
    --nav-link-color: #d9dcd6;
    --nav-hover-link-color: #d9dcd6;
    --nav-hover-background-color: #3a7ca5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.container {
    display: grid;
    align-items: center;
}

.container, footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 800px 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    padding-bottom: 20px;
}

nav {
	text-align: right;
    display: flex
}

p {
    padding: 25px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero img {
    position: absolute;
    display: block;
    max-width: 1000px;
    height: auto;
}

article img { 
    margin-left: 660px;
    margin-top: 25px;
    width: 220px;
}

article p {
    position: absolute;
    max-width: 600px;
    color: #fff;
    font-weight: bold;
}

.hero h1 {
    margin-top: 60px;
    width: 980px;
    padding: 10px;
    text-align: center;
    background-color: rgb(40, 117, 57);
    position: absolute;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
}

.hero article {
    margin-top: 150px;
    margin-left: 50px;
    height: 200px;
    width: 900px;
    position: absolute;
    background-color:dimgray;
    opacity: 0.7;
}

.history {
    position: relative;
    display: block;
    padding-top: 25rem;
    text-align: center;
}

section h2 {
    position: relative;
    display: block;
    text-align: center;
}

footer {
    text-align: center;
}

.sociallinks {
    width: 50px;
    display:table;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks li{
    display: inline-flex;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
  }
  
  img {
    max-width: 500px;
    max-height: 500px;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  
