@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #04030F;
    --secondary-color: #3a7ca5;
    --accent1-color: #d9dcd6;
    --accent2-color: #16425b;

    --heading-font: 'Roboto', sans-serif; 
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #16425b;
    --nav-link-color: #d9dcd6;
    --nav-hover-link-color: #d9dcd6;
    --nav-hover-background-color: #3a7ca5;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav { 
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}